name: terraform deployment

on: 
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
     - name: checkout code
       uses: actions/checkout@v4
    
     - name: Configure AWS credentials
       uses: aws-actions/configure-aws-credentials@v4
       with:
         role-to-assume: arn:aws:iam::692859928205:role/GitHubActionsTerraformRole
         aws-region: ap-south-1

     - name: terraform setup
       uses: hashicorp/setup-terraform@v3

     - name: init code
       run: terraform init

     - name: apply terraform
       run: |
         terraform plan
         terraform apply --auto-approve
